/* Footer Style */
  .footerCustom {
    
  }

  .footerAbove {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #2c3e50;
    color: white;
    margin: 0;
  }

  .footerDescription {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 30px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 30px;
    align-self: center;
  }

  .footerlist {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .footerItem {
    /* width: 50px;
    height: 50px; */
    list-style: none;
    margin: 0 10px;
    /* align-self: center; */
  }
  
  .footerlink {
    color: white;
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
  }
  
  .footerlink:hover {
    background-color: #fff;
    color: #2c3e50;
  }


  
  @media screen and (min-width: 992px) {
    .footerDescription {
      padding: 0px;
      text-align: justify;
    }
  
    .footerList {
      justify-content: flex-end;
    }
  }
  
  .footerBelow {
    background-color: #233140;
    color: white;
    padding: 25px 0;
    font-size: 1.5rem;
    text-align: center;
  }
  